*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.Liste{
    padding-top: 7%;
   
    text-align: center;
    
    
}
.Liste h1 {
   margin-bottom: 20px;
   color:royalblue;
    
    
}
.table{
    
    border-collapse: collapse;
    margin: auto;
    font-size: 1.2em;
    font-family: sans-serif;
    
    box-shadow:royalblue;
    table-layout: auto;
    width: 80%;
}

.table thead tr {
    background-color: royalblue;
    color: aliceblue;
    text-align: center;
}

.table th,
.table td  {
    padding: 20px, 22px;
}
.table tbody tr {
    border-bottom: 2px solid royalblue;
}

.table tbody tr:nth-of-type(even){
    background-color: seashell;
}
.table tbody tr:last-of-type{
    border-bottom: royalblue;
}

.btn{
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-upd {
    background-color:palegreen;

}
.btn-del {
    background-color:red;

}
.btn-view {
    background-color:cornflowerblue;

}
.btn-contact {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color:salmon;


}
.btn-hist {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color:deeppink;


}