*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}
.pageBody {
  height: 60%;
	width: 100%;
  
	
	grid-template-columns: repeat(2, 1fr);
	
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);

	
}
.addStatus{
	padding: 25px 40px;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    padding: auto;
}

  input[type="ajout"],
select{
    width:80%;
    padding: 12px 20px;
    margin: 8px ;
    display: inline-block;
    border: 1 px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    
}

.Liste_des_status h1{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
  
}

.Liste_des_status h1:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
   
}
.Liste_des_status {
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
  
}
table {
    border-collapse: separate;
    border-spacing: 50px 0;
  }
  
  td {
    padding: 10px 0;
  }
  .show{
	display: flex;
    flex-direction: column;
	align-items: center;
  }